@import "tailwindcss";

@import "react-datepicker/dist/react-datepicker.css";

.react-datepicker-wrapper {
  width: auto;
}

:root {
  --background: #fff8f0;
  --foreground: #171717;
  --primary-brown: #402e32;
  --secondary-brown: #5a443a;
  --primary-orange: #f7931d;
  --secondary-orange: #faa94b;
  --light-brown: #af8969;
  --light2-brown: #c5a68d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary-brown: var(--secondary-brown);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
